.CommentText {
    color: black;
    font-size: 15px;
    width: auto;
    margin: 0px;
}

.CommentTextLarge {
    color: black;
    font-size: 25px;
    width: auto;
    margin: 0px;
}

[class*="quantityMark"].quantityMark-0 {
    background-color: #acacac;
}

.KSareaQuantity-0 path {
    fill: #acacac;
    transition: 0.3s;
}

.KSareaQuantity-0 path:hover {
    fill: #e7e7e7;
}

#downloadcahrt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-card-contenet>* {
    margin-top: 0;
}

.main-card {
    padding-top: 15px;
}

.content-index .main-card :hover {
    opacity: 1;
}

.KSarea_page .main-card {
    margin-left: 20px;
    /* margin-right: 20px; */
    margin-top: 10px;
    height: 380px;
    width: 100%;
}

.KSarea_page .main-cardBox {
    margin-right: 30px;
}

.main-table .main-card {
    height: auto;
    width: 100%;
}

@media (max-width: 900px) {
    .content-index .main-cardBoxItem {
        margin-top: 20px;
        height: 420px;
        width: 100%;
    }

    .content-index .main-card {
        height: 420px;
        width: 100%;
    }

    .content-index .main-card-info {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

    .content-index .main-cardBox{
        margin-top:15px;
    }

    section {
        margin-top: 30px;
    }
}

.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;

    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
}

.hidden {
    display: none;
}

.main-card-info {
    margin-top: 0;
}

.block .card-item {
    height: 300px;
}

.custom-file-input {
    opacity: 1;
}
