@media (max-width: 1500px) {
  .map-notice {
    width: 45%;
  }
  .content-index .main-cardBox {
    width: 16%;
  }
}
@media (max-width: 1300px) {
  .title h1 {
    font-size: 20px;
  }
  .title p {
    font-size: 14px;
  }
  .content-index .main {
    height: calc(100vh - 105.98px);
  }
  .map-notice {
    width: 35%;
  }
}
@media (max-width: 1200px) {
  /* .main {
    flex-direction: column;
  }
  .main-map {
    order: -1;
  }
  .map-notice-title {
    font-size: 5vw;
  }
  .map-notice-item-top-title {
    font-size: 1.6vw;
  }
  .map-notice-item-top-number {
    font-size: 4.6vw;
  }
  .map-notice-item-bottom-title {
    font-size: 1.4vw;
  }
  .main-cardBox {
    display: flex;
  }
  .main-card {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .main-card {
    height: unset;
  }
  .main-card-title {
    font-size: 20px;
  } */

  .map-notice {
    width: 50%;
  }
  .map-notice-top {
    background-image: url(../images/mapNoticeDecoBottom.svg);
  }
  .map-notice-item-bottom-title {
    margin-bottom: 0;
  }
  .map-notice-item-top-title {
    font-size: 12px;
    margin-bottom: 0;
  }
  .map-notice-item-top-number {
    margin-top: 0;
  }
  .map-notice-item-bottom-quantity li:after {
    height: 10px;
  }
  .map-notice-item-bottom-quantity li {
    padding-top: 10px;
  }

  .todayMark {
    width: 20px;
    height: 20px;
  }
  .MAPtodayMark {
    width: 5%;
    height: 0;
    padding-bottom: 5%;
  }
  .table .br_phone {
    display: block;
  }
  .table th,
  .table td {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .content-index .main-cardBox {
    width: 11%;
  }
}
@media (max-width: 900px) {
  .main-cardBox {
    flex-direction: column;
  }
  .main {
    flex-direction: column;
  }
  .main-map {
    order: -1;
  }
  .content-index {
    max-height: unset;
    overflow: unset;
  }
  .content-index .main {
    height: unset;
    overflow: unset;
    margin-top: 30px;
  }
  .main-cardBox {
    width: 100%;
  }
  .content-index .main-card,
  .content-index .main-card-contenet {
    height: unset;
  }
  .main-card-title.main-card-title-s {
    font-size: 20px;
  }
  .map-notice-item-top-title {
    font-size: 16px;
  }
  .map-notice-item-top-number {
    font-size: 20px;
  }
  .map-notice-item-bottom-title {
    font-size: 14px;
    margin-bottom: 1em;
  }
  .map-area {
    margin-top: 15%;
    width: 100%;
  }
  .map-area-svgBox {
    width: 100%;
  }
  .form-KSareaSeasch .form-row {
    flex-wrap: wrap;
  }
  .form-KSareaSeasch .col-select {
    flex-grow: 1;
  }
  .form-KSareaSeasch .col-select select {
    width: 100%;
  }
  .tableFoot {
    flex-direction: column;
  }
  .table-quantity {
    margin-bottom: 20px;
  }
  .content-index .main-cardBox {
    width: 100%;
  }
  .table-system_Page th {
    display: none;
  }
  .table-system_Page tbody tr {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #0ca7b1;
  }
  .table-system_Page td {
    text-align: left;
  }
  .table-system_Page td:before {
    content: attr(date-name);
    text-align: left;
    display: block;
    color: #0ca7b1;
  }
  .form-seachOutput {
    flex-direction: column;
  }
  .form-seachOutput .btn-output {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .desk.desk.desk {
    display: none;
  }
  .phone.phone.phone {
    display: block;
  }
  .content-index {
    margin-top: 63px;
  }
  .header {
    /* border-bottom: 1px solid #ddd; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  .nav-top {
    padding: 10px 30px;
  }
  .logo {
    max-width: 200px;
  }
  .people-name {
    width: 40px;
    height: 40px;
    font-size: 13px;
    line-height: 40px;
    margin-right: 60px;
  }
  .people-popupBox {
    position: fixed;
    bottom: unset;
    right: unset;
    top: 66px;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  .people-popup:after {
    right: 65px;
  }
  .people-popup .people-name {
    margin-right: 0;
  }
  .menuBtn,
  .xx {
    display: block;
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
    display: none;
  }
  .menu {
    flex-direction: column;
    align-items: center;
  }
  .menu li {
    font-size: 20px;
  }
  .breadcrumb {
    padding-left: 16px;
  }
  .content-page {
    margin-top: 111px;
  }
  .slickBox {
    padding: 0;
  }
  .copyright br {
    display: block;
  }
  .title {
    background-image: url(../images/titleDeco_m.png);
    background-size: auto 210%;
  }
  .title h1 {
    font-size: 20px;
  }
  .title h1 br {
    display: block;
  }
  .title p {
    font-size: 16px;
    margin-top: 0.2em;
  }

  .map-notice {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
  .map-area {
    display: none;
  }
  .main-map {
    padding: 20px 0;
  }

  .main-card {
    margin: 20px 0;
  }
  .map-notice-title {
    font-size: 36px;
  }
  .map-notice-item-top-title {
    font-size: 16px;
  }
  .map-notice-item-top-number {
    font-size: 32px;
  }
  .map-notice-item-bottom-title {
    font-size: 14px;
  }
  .map-notice-item-bottom-quantity li {
    font-size: 14px;
  }
  .map-notice-bottom .map-notice-item:nth-of-type(1) {
    flex-basis: 60%;
  }
  .map-list {
    display: flex;
    justify-content: center;
  }
  .todayMark {
    background-image: unset;
    border: 2px solid #046047;
    opacity: 1;
    width: 30px;
    height: 30px;
  }
  .map-list li .todayMarkListitem {
    border: 2px solid #046047;
  }

  .slick-prev {
    left: 10px;
  }
  .slick-next {
    right: 10px;
  }
  .block .main-card-title {
    font-size: 20px;
  }

  .col-line-left:after {
    display: none;
  }
  .banner-itemBox > div:nth-of-type(2) {
    margin-top: 60px;
  }
  .block .main-card {
    padding: 20px;
  }
  .KSarea-list li {
    flex-basis: calc(100% / 3);
  }
  .form-KSareaSeasch .form-row {
    flex-direction: column;
  }
  .form-KSareaSeasch .form-row > * {
    width: 100%;
  }
  .form-KSareaSeasch .form-row .btn {
    width: 100%;
  }
  .form-KSareaSeasch .row > .col-auto {
    flex-grow: 1;
    flex-shrink: 1;
  }
  .form-KSareaSeasch .row > .col-auto input {
    width: 100%;
  }
  .form-KSareaSeasch .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .table-responsive .table td,
  .table-responsive .table th {
    border: 0px solid #ccc;
  }
  .table-responsive thead,
  .table-responsive th {
    display: none;
  }
  .table-responsive tr {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #0ca7b1;
  }
  .table-responsive tr:nth-last-of-type(1) {
    border-bottom: 1px solid #0ca7b1;
  }
  .table-responsive td {
    width: 100%;
    border: 0px solid transparent;
    text-align: left;
  }
  .table-responsive td:before {
    content: attr(date-title);
    display: block;
    color: #000;
    font-size: 14px;
    color: #0ca7b1;
  }
  .table-KSarea_page tr {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .table-KSarea_page td:nth-of-type(1),
  .table-KSarea_page td:nth-of-type(2),
  .table-KSarea_page td:nth-of-type(3),
  .table-KSarea_page td:nth-of-type(4),
  .table-KSarea_page td:nth-of-type(5),
  .table-KSarea_page td:nth-of-type(6) {
    width: 50%;
  }
  .table-KSarea_page tbody tr:nth-last-of-type(2n + 1) {
    background-color: hsla(184, 87%, 37%, 0.05);
  }
  .table-KSarea_page tbody tr:after {
    content: "more";
    text-align: right;
    border-radius: 3px;
    padding: 0 0.5em 0.2em;
    margin-bottom: 0.5em;
    margin-right: 10px;
    color: #fff;
    background-color: #0ca7b1;
    margin-left: auto;
  }
  .table-KSarea_page_own tr {
    border-top: 0px solid transparent;
  }
  .table-KSarea_page_own tr:nth-last-of-type(1) {
    border-bottom: 0px solid transparent;
  }
  .main-card-title.main-card-title-m {
    font-size: 18px;
  }
  .table-KSarea_page_own .table-itemLine {
    border-top: 1px solid #0ca7b1;
  }
  .table-KSarea_page_own .table-itemLinNo {
    border-top: 0px solid transparent;
  }
  .table-KSarea_page_ownVisit .table-itemLine {
    /* background-color: hsla(184, 87%, 37%, 0.05); */
  }
  [class*="icon_"] {
    margin: unset;
  }
  .form-keyword {
    flex-direction: column;
  }
  .form-system .form-row {
    margin-left: 0;
    margin-right: 0;
  }
  .form-system .btn {
    width: 100%;
  }
  .input-age,
  .form-control-age {
    max-width: unset;
  }
  .form-seachOutput > div:nth-of-type(1) {
    width: calc(100% + 10px);
    /* margin-right: 0; */
  }
}
@media (max-width: 320px) {
}
