@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");

/*--------------------------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid #f00; */
}

html {
}

body {
  font-family: "Noto Sans TC", sans-serif, "微軟正黑體";
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  color: #6b6b6b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

ul {
  padding-left: 1.4em;
}

p,
li {
  font-size: 16px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  word-break: break-all;
  text-align: justify;
  　text-justify: inter-ideograph;
  　-ms-text-justify: inter-ideograph; /*IE9*/
  　-moz-text-align-last: justify; /*Firefox*/
  　-webkit-text-align-last: justify; /*Chrome*/
}

a {
  color: #6b6b6b;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: 0.8;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

br {
  font-family: unset !important;
  font: unset !important;
}

.phone.phone.phone {
  display: none;
}
.target-fix {
  position: relative;
  top: -166px;
  display: block;
  height: 0;
  overflow: hidden;
}

/********************************************************
slick
********************************************************/
.slickBox {
  /* max-width: 1110px; */
  /* margin: 0 auto; */
  padding: 0 20px;
  padding-bottom: 0;
}
.slick-body {
  /* background-color: #333; */
  padding: 0 15px;
}
.slick-item {
  padding: 5px;
}
.slick-item a {
  background-color: #fff;
  color: #18a5a7;
  border: 2px solid #52f3c7;
  display: block;
  font-size: 16px;
  text-align: center;
  /* padding: 10px; */
}
.slick-slide {
  font-size: 0;
}
.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

/* slick-dots */
.slick-dots {
  position: absolute;
  left: 0;
  bottom: 0px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  font-size: 0;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 0px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-align: center;
  opacity: 0.25;
  background-color: transparent;
  /* border: 1px solid #707070; */
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  background-color: #008587;
}
/* slick-arrows */
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #fbb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev,
.slick-next {
  display: block;
  width: 14px;
  height: 24px;
}
.slick-prev {
  left: 0;
  z-index: 1;
}
.slick-next {
  right: 0;
  z-index: 1;
}
.slick-prev:before,
.slick-next:before {
  content: "";
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: block;
  width: 14px;
  height: 24px;
}
.slick-next:before {
  transform: rotate(180deg);
}

/********************************************************
wrapper
********************************************************/
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/********************************************************
nav
********************************************************/
.header {
  width: 100%;
  background-color: #fff;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 0.5s;
}
.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  /* max-width: 1110px; */
  margin: 0 auto;
}
/* .header.fixed .nav-top {
  display: none;
} */
.logo {
  display: block;
  max-width: 386px;
}
.people {
  position: relative;
}
.people-name {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #18a5a7;
  color: #fff;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  flex-shrink: 0;
}
.people-name:hover {
  opacity: 0.8;
}
.people-popupBox {
  position: absolute;
  bottom: -23px;
  right: 0;
  max-width: 300px;
  min-width: 300px;
  z-index: 1;
  transform: translateY(100%);
  transition: 1s;
}
.people-popupBox.hidden {
  display: none;
}
.people-popup {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  border: 1px solid #18a5a7;
  display: flex;
}

.people-info {
  padding-left: 20px;
}
.people-info p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.people-popup-btn {
  display: flex;
  margin: 0 -5px;
}
.people-popup-btn a {
  display: block;
  padding: 0.2em 0.5em;
  border: 1px solid #18a5a7;
  margin: 0 5px;
  border-radius: 3px;
}
.people-popup-btn a:hover {
  background-color: #18a5a7;
  color: #fff;
}
.nav {
  background-color: #18a5a7;
  position: relative;
}

.nav_content {
  /* max-width: 1110px; */
  width: 100%;
  margin: 0 auto;
}
.menu {
  list-style: none;
  display: flex;
  padding: 10px 50px;
  justify-content: space-between;
  margin-bottom: 0;
}

.menu li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.menu li a {
  color: #fff;
}

.menuBtn,
.xx {
  display: none;
}
.menuBtn {
  background-image: url(../images/menuBtn.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 20px;
  position: fixed;
  top: 23px;
  right: 30px;
}
.xx {
  background-image: url(../images/xx.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  position: fixed;
  top: 20px;
  right: 30px;
  /* z-index: 1000; */
}

/********************************************************
content
********************************************************/
.content {
  background-image: url(../images/bg.png),
    linear-gradient(135deg, #b5fbcc 0%, #008587 100%);
  flex-grow: 1;
}
/* .header.fixed ~ .content {
  margin-top: 58px;
} */
.content-page {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.title {
  padding: 10px 30px;
  background-image: url(../images/titleDeco.png);
  background-repeat: no-repeat;
  /* background-size: 100% auto; */
  background-position: center top -8px;
}
.title h1 {
  text-align: center;
  color: #fff;
  font-size: 1.65vw;
  font-size: 32px;
  margin-top: 0em;
  margin-bottom: 0em;
}
.title h1 br {
  display: none;
}
.title p {
  text-align: center;
  color: #f4ff5a;
  font-size: 1.25vw;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
}
.main {
  display: flex;
  padding: 0 30px;
  /* margin-top: -20px; */
  /* max-height: calc(100vh - 365px); */
  /* overflow: hidden; */
}
.main-cardBox {
  /* width: 13%; */
}
.main-card {
  background-color: #fff;
  background-image: linear-gradient(
    180deg,
    hsla(174, 97%, 53%, 0.3) 0%,
    #fff 10%
  );
  padding: 30px 15px 15px 15px;
  /* margin: 5px 10px; */
  position: relative;
  /* height: 400px; */
  /* height: 0; */
  /* padding-bottom: 30%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-card:after {
  content: "";
  display: block;
  width: 50%;
  /* height: 0px; */
  border-color: #0ca7b1 transparent transparent transparent;
  border-style: solid solid solid solid;
  border-width: 5px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main-card-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../images/icon_big.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
.main-card-btn:hover {
  opacity: 0.8;
}
.main-card-title {
  text-align: center;
  color: #0ca7b1;
  font-size: 30px;
  flex-shrink: 0;
  margin-bottom: 1em;
  margin-top: 0.2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main-card-title.main-card-title-m {
  font-size: 1.1vw;
}
.main-card-title.main-card-title-s {
  font-size: 12px;
  margin-bottom: 0.2em;
}
.main-card-contenet {
  flex-shrink: 1;
  flex-grow: 1;
  /* overflow-y: auto; */
  /* height: 260px; */
}
.main-card-contenet > * {
  margin-top: 30px;
}
.main-card-contenet img {
  /* width: auto; */
  /* height: 100%; */
  margin: 0 auto;
}
.main-card-info {
  text-align: right;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 0.2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main-map {
  flex-grow: 1;
  padding: 10px;
  padding-top: 0;
  position: relative;
}
.map-notice {
  max-width: 360px;
  width: 40%;
  border: 2px solid #fff;
  position: absolute;
  top: 33px;
  left: 10px;
  z-index: 1;
}
.map-notice:after {
  content: "";
  background-image: url(../images/mapNoticeDecoTop.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: block;
  width: calc(100% + 4px);
  height: 0;
  padding-bottom: 7.75%;
  position: absolute;
  top: 0;
  left: -2px;
  transform: translateY(-100%);
}
.map-notice-top {
  background-color: #18a5a7;
  background-image: url(../images/mapNoticeDecoBottom.svg),
    url(../images/mapNoticeDeco_1.png), url(../images/mapNoticeDeco_2.png),
    url(../images/mapNoticeDeco_3.png), url(../images/mapNoticeDeco_4.png);
  background-repeat: no-repeat;
  background-position: center top, left 3% top 15%, right 3% top 15%,
    left 3% bottom 5%, right 3% bottom 5%;
  background-size: 100% auto, unset;
  padding: 4%;
  padding-bottom: 0;
}
.map-notice-title {
  color: #fff;
  font-size: 2.4vw;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.map-notice-itemBox {
  display: flex;
}

.map-notice-item {
  flex-grow: 1;
  padding: 4%;
}
.map-notice-item-top-title {
  color: #fff;
  font-size: 1vw;
  text-align: center;
  margin-top: 0;
}
.map-notice-item-top-number {
  color: #f4ff5a;
  font-size: 2.4vw;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
}
.map-notice-top .map-notice-itemBox {
  /* border-top: 1px solid #fff; */
}
.map-notice-top .map-notice-item:nth-of-type(2) {
  border-left: 1px solid #fff;
}
.map-notice-bottom {
  background-color: #fff;
  /* padding: 20px; */
}
.map-notice-item-bottom-title {
  color: #729f93;
  font-size: 0.85vw;
  text-align: center;
  letter-spacing: 0;
  margin-top: 0;
}
.map-notice-item-bottom-quantity {
  list-style: none;
  display: flex;
}
.map-notice-item-bottom-quantity li {
  flex-grow: 1;
  font-style: 0;
  color: #729f93;
  flex-basis: 100%;
  white-space: nowrap;
  padding-top: 20px;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.85vw;
  text-align: right;
}
.map-notice-item-bottom-quantity li:after {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
.map-notice-item-bottom-quantity li:nth-of-type(1) {
  color: #ca8ec2;
}
.map-notice-item-bottom-quantity li:nth-of-type(2) {
  color: #f3cd52;
}
.map-notice-item-bottom-quantity li:nth-of-type(3) {
  color: #eb9f3d;
}
.map-notice-item-bottom-quantity li:nth-of-type(4) {
  color: #d26900;
}
.map-notice-item-bottom-quantity li:nth-of-type(5) {
  color: #ff5151;
}
.map-notice-item-bottom-quantity li:nth-of-type(1):after {
  background-color: #ca8ec2;
}
.map-notice-item-bottom-quantity li:nth-of-type(2):after {
  background-color: #f3cd52;
}
.map-notice-item-bottom-quantity li:nth-of-type(3):after {
  background-color: #eb9f3d;
}
.map-notice-item-bottom-quantity li:nth-of-type(4):after {
  background-color: #d26900;
}
.map-notice-item-bottom-quantity li:nth-of-type(5):after {
  background-color: #ff5151;
}
.todayMark {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-image: radial-gradient(#ccc 30%, #eee 30%);
  /* opacity: 0.3; */
  margin: 0 auto;
}
.map-notice-bottom .map-notice-item:nth-of-type(1) {
  flex-shrink: 0;
  flex-basis: 70%;
}
.map-notice-bottom .map-notice-item:nth-of-type(2) {
}

[class*="quantityMark"] {
  color: #fff;
}
[class*="quantityMark"].quantityMark-1 {
  background-color: #ca8ec2;
}
[class*="quantityMark"].quantityMark-2 {
  background-color: #f3cd52;
}
[class*="quantityMark"].quantityMark-3 {
  background-color: #eb9f3d;
}
[class*="quantityMark"].quantityMark-4 {
  background-color: #d26900;
}
[class*="quantityMark"].quantityMark-5 {
  background-color: #ff5151;
}
.map-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  display: none;
}
.map-list li {
  padding: 9px;
  margin: 0;
}
.map-list li a {
  background-color: #fff;
  border: 2px solid transparent;
  display: block;
  padding: 0.2em 0.5em;
  border-radius: 999em;
}
.map-area {
  position: relative;
  height: 100%;
  margin-left: auto;
}
.map-area-svgBox {
  width: fit-content;
  height: 100%;
  position: relative;
  margin-left: auto;
}
#KSarea {
  fill: #666;
  height: 100%;
}
#KSareaAll text {
  fill: #000;
}
#KStextAll {
  fill: #000;
}
#KStextAll g:hover {
  fill: #f4ff5a;
  cursor: pointer;
}
#KSareaAll text {
  pointer-events: none;
}

.KSareaQuantity-0 path {
  fill: #acacac;
  transition: 0.3s;
}
.KSareaQuantity-1 path {
  fill: #ca8ec2;
  transition: 0.3s;
}
.KSareaQuantity-2 path {
  fill: #f3cd52;
}
.KSareaQuantity-3 path {
  fill: #eb9f3d;
}
.KSareaQuantity-4 path {
  fill: #d26900;
}
.KSareaQuantity-5 path {
  fill: #ff5151;
}
.KSareaQuantity-0 path:hover {
  fill: #e7e7e7;
}
.KSareaQuantity-1 path:hover {
  fill: #eeb9e4;
}
.js-KSareaQuantity-2,
.KSareaQuantity-2 path:hover {
  fill: #fbe29f;
}
.js-KSareaQuantity-3,
.KSareaQuantity-3 path:hover {
  fill: #fcb765;
}
.js-KSareaQuantity-4,
.KSareaQuantity-4 path:hover {
  fill: #fb983a;
}
.js-KSareaQuantity-5,
.KSareaQuantity-5 path:hover {
  fill: #f28383;
}
.blink path {
  animation: blink 1s ease infinite;
}
@keyframes blink {
  /* 只有-5要閃, 已經是紅色 */
  0% {
    /*fill: #681c1c;*/
    fill: #666666;
  }
  100% {
    fill: red;
  }
}

.heyo:hover {
  fill: #cc2929;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#KSareaAll g:hover {
  cursor: pointer;
}
.todayMarkBox {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  /* background-color: rgba(255, 187, 187, 0.568); */
}
.MAPtodayMark {
  position: absolute;
  transform: translate(-50%, -50%);
  animation: MAPtodayMark 1s ease-in-out infinite alternate;
  width: 5%;
  height: 0;
  padding-bottom: 5%;
}
@keyframes MAPtodayMark {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.3;
  }
}
.MAPtodayMark-25,
.MAPtodayMark-26,
.MAPtodayMark-27,
.MAPtodayMark-28,
.MAPtodayMark-29 {
  width: 8%;
  padding-bottom: 8%;
}
.MAPtodayMark-30,
.MAPtodayMark-31,
.MAPtodayMark-32,
.MAPtodayMark-33,
.MAPtodayMark-34,
.MAPtodayMark-35,
.MAPtodayMark-36,
.MAPtodayMark-37,
.MAPtodayMark-38 {
  width: 10%;
  padding-bottom: 10%;
}
.MAPtodayMark-1 {
  top: 59%;
  left: 30%;
}
.MAPtodayMark-2 {
  top: 65%;
  left: 32%;
}
.MAPtodayMark-3 {
  top: 69%;
  left: 33%;
}
.MAPtodayMark-4 {
  top: 72%;
  left: 35%;
}
.MAPtodayMark-5 {
  top: 58%;
  left: 32%;
}
.MAPtodayMark-6 {
  top: 61.5%;
  left: 35.8%;
}
.MAPtodayMark-7 {
  top: 67%;
  left: 37.5%;
}
.MAPtodayMark-8 {
  top: 71.5%;
  left: 38.2%;
}
.MAPtodayMark-9 {
  top: 60.2%;
  left: 40.2%;
}
.MAPtodayMark-10 {
  top: 74%;
  left: 43.5%;
}
.MAPtodayMark-11 {
  top: 77.7%;
  left: 42.7%;
}
.MAPtodayMark-12 {
  top: 81%;
  left: 45%;
}
.MAPtodayMark-13 {
  top: 85.4%;
  left: 43%;
}
.MAPtodayMark-14 {
  top: 90.8%;
  left: 43.6%;
}
.MAPtodayMark-15 {
  top: 75%;
  left: 38%;
}
.MAPtodayMark-16 {
  top: 78.5%;
  left: 38.5%;
}
.MAPtodayMark-17 {
  top: 81.6%;
  left: 36.2%;
}
.MAPtodayMark-18 {
  top: 82%;
  left: 40.5%;
}
.MAPtodayMark-19 {
  top: 66%;
  left: 8%;
}
.MAPtodayMark-20 {
  top: 65.5%;
  left: 10%;
}
.MAPtodayMark-21 {
  top: 64%;
  left: 13.5%;
}
.MAPtodayMark-22 {
  top: 65.5%;
  left: 18%;
}
.MAPtodayMark-23 {
  top: 75%;
  left: 15%;
}
.MAPtodayMark-24 {
  top: 78%;
  left: 8.5%;
}

.MAPtodayMark-25 {
  top: 61%;
  left: 46.5%;
}
.MAPtodayMark-26 {
  top: 68.5%;
  left: 44.5%;
}
.MAPtodayMark-27 {
  top: 75.5%;
  left: 49.5%;
}
.MAPtodayMark-28 {
  top: 87.8%;
  left: 47.5%;
}
.MAPtodayMark-29 {
  top: 96%;
  left: 47%;
}

.MAPtodayMark-30 {
  top: 51%;
  left: 52.5%;
}
.MAPtodayMark-31 {
  top: 61.7%;
  left: 54%;
}
.MAPtodayMark-32 {
  top: 47.5%;
  left: 61%;
}
.MAPtodayMark-33 {
  top: 58.4%;
  left: 59.8%;
}
.MAPtodayMark-34 {
  top: 35%;
  left: 65.2%;
}
.MAPtodayMark-35 {
  top: 43.5%;
  left: 68.2%;
}
.MAPtodayMark-36 {
  top: 21%;
  left: 73%;
}
.MAPtodayMark-37 {
  top: 26.5%;
  left: 82.5%;
}
.MAPtodayMark-38 {
  top: 54.8%;
  left: 75.5%;
}

/********************************************************
Visible part of page
********************************************************/
.content-index {
  /* max-height: calc(100vh - 56px); */
  /* overflow: hidden; */
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}
.content-index .main {
  overflow: hidden;
  justify-content: stretch;
  /* height: 100%; */
  height: calc(100vh - 120.98px);
}
.content-index .main-cardBox {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 25%;
}
.content-index .main-cardBoxItem {
  padding: 5px 0;
  height: calc(100% / 3);
}
.content-index .main-card {
  /* height: calc(687px / 3); */
  cursor: pointer;
  height: 100%;

  /* overflow: hidden; */
}
.content-index .main-card :hover {
  opacity: 0.8;
}
.content-index .main-card-contenet {
  /* display: flex; */
  height: 100%;
  height: calc(100% - 40px);
  flex-grow: 1;
  flex-shrink: 1;
}
.content-index .main-card-title {
  font-size: 16px;
}
.content-index .main-card-title,
.content-index .main-card-info {
  flex-shrink: 0;
}
.content-index .main-card-contenet img {
  height: 100%;
}

/********************************************************
popupBox
********************************************************/
.popupBox {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 30px;
  display: none;
  z-index: 110;
}
.popup {
  max-width: 900px;
  width: 100%;
  height: 80vh;
}
.popup .main-card {
  margin: 0;
  height: 100%;
}
.popup .main-card-btn {
  background-image: url(../images/icon_small.svg);
  width: 20px;
  height: 20px;
}
.popup .main-card-title {
  font-size: 24px;
  overflow: unset;
  white-space: unset;
}
.popup .main-card-contenet {
  overflow-y: auto;
}

/********************************************************
footer
********************************************************/
.footer {
  padding: 0px 30px 5px;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}
.copyright br {
  display: none;
}

/********************************************************
block
********************************************************/
.block {
  /*max-width: 1110px;*/
  /*width: 100%;*/
  /*min-width: 1000px;*/
  max-width: 90%;
  margin: 0 auto;
  padding-top: 80px;
  min-height: calc(100vh - 182px - 177px);
  flex-grow: 1;
}
.block .main-cardBox {
}
.block .main-card {
  width: 100%;
  height: auto;
  margin: 20px 0;
  padding: 30px;
}
.block .main-card + .block .main-card {
}

.titleSubDeco {
  border: 1px solid #0ca7b1;
}
.block .main-card-titleSub {
  color: #0ca7b1;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
}
.block .main-card-contenet {
}
.block-centerY {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
}
.card-itemBox {
  max-width: 420px;
  margin: 0 auto;
}
.card-item {
  margin-top: 40px;
}
.card-item-pic a:hover img {
  opacity: 0.8;
}
.col-line-left {
  position: relative;
}
.col-line-left:after {
  content: "";
  display: block;
  width: 1px;
  height: calc(100% - 70px);
  background-color: #ccc;
  position: absolute;
  bottom: 0;
  left: 0;
}
.btnBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -10px;
  margin-right: -10px;
}
.btnBox .btn {
  margin: 10px;
  display: block;
  width: 100%;
  white-space: nowrap;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle,
.btn-primary {
  background-color: #0ca7b1;
  border-color: #0ca7b1;
}
.btn-primary:hover {
  background-color: #088992;
  border-color: #088992;
}
.btn-dark {
  background-color: #464e4a;
  border-color: #464e4a;
}
.btn-dark:hover {
  background-color: #222523;
  border-color: #222523;
}
.btn-gray {
  background-color: #9a9a9a;
  border-color: #9a9a9a;
  color: #fff;
}
.btn-gray:hover {
  background-color: #7e7e7e;
  border-color: #7e7e7e;
  color: #fff;
}
.btn-danger {
  background-color: #ff5151;
  border-color: #ff5151;
}
.btn-danger:hover {
  background-color: #bd4937;
  border-color: #bd4937;
}
.btn-small {
  max-width: 150px;
}
.btn-xs {
  max-width: 62px;
}
.btn-single {
}
* + form {
  /* margin-top: 50px; */
}
.breadcrumb {
  background-color: #464e4a;
  border-radius: 0;
  padding-left: 50px;
  margin-bottom: 0;
  /* display: flex; */
  /* flex-wrap: nowrap; */
}
.breadcrumb li {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  /* flex-shrink: 0; */
}
.breadcrumb li a {
  color: #fff;
  /* white-space: nowrap; */
}
.breadcrumb-item.active {
  color: #ddd;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}
.KSarea-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 30px;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 0;
}
.KSarea-list li {
  margin: 0;
  flex-basis: calc(100% / 7);
}
.KSarea-list li a {
  display: block;
  text-align: center;
  color: #0ca7b1;
  padding: 0.5em;
  border: 1px solid #0ca7b1;
  margin: 10px;
  border-radius: 3px;
  white-space: normal;
}
.KSarea-list li a:hover {
  background: #0ca7b1;
  color: #fff;
}
.KSarea_page {
  padding-top: 30px;
}
.KSarea_page .main-card {
  margin-left: 0;
  margin-right: 0;
}
.form-KSareaSeasch {
}
.form-KSareaSeasch .form-row {
  flex-wrap: nowrap;
  width: 100%;
}
.col-keyWords {
  flex-grow: 1;
  flex-shrink: 1;
}
.form-KSareaSeasch .row {
  margin-left: 0px;
  margin-right: -5px;
  flex-wrap: nowrap;
}
.form-KSareaSeasch .row > .col-auto {
  padding-left: 5px;
  padding-right: 5px;
}
.KSarea_page .input-age {
  width: 110px;
}
.KSarea_page .input-keyWords {
  width: 100%;
}
.tableFoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}
.table-quantity {
  display: flex;
  align-items: center;
}
.table-quantity p {
  margin-top: 0;
  margin-bottom: 0;
}
.pagination {
  margin-bottom: 0;
}
.pagination li {
  margin-top: 0;
  margin-bottom: 0;
}
.page-link,
.page-link:hover {
  color: #0ca7b1;
}
.page-item.active .page-link {
  background-color: #0ca7b1;
  border-color: #0ca7b1;
}
.table {
}
.table .br_phone {
  display: none;
}
.table-responsive .table td,
.table-responsive .table th {
  border: 1px solid #ccc;
}
.table-responsive .table th {
  padding: 0.2em;
}
.table-hover tbody tr:hover {
  background-color: hsla(184, 87%, 37%, 0.2);
}
.table thead th {
  vertical-align: middle;
}
.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}
.table th {
  background-color: #e8e8e8;
}
.table-hover tbody tr {
  /*cursor: pointer;*/
}
.table th {
  font-weight: 400;
}
.modal-content {
  border: 0px solid transparent;
  border-radius: 0;
}
.modal-header {
  border-bottom: 0px solid transparent;
}
.modal-footer {
  border-top: 0px solid transparent;
}
.modal-body p {
  text-align: center;
}
.modal-footer {
  justify-content: center;
}
label {
  color: #0ca7b1;
}
.form-system .form-row {
  width: 100%;
}
[class*="icon_"] {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}
.icon_ok {
  background-image: url(../images/icon_ok.png);
}
.icon_no {
  background-image: url(../images/icon_no.png);
}
.form-check label {
  color: #6b6b6b;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #0ca7b1 !important;
}

.custom-checkbox
  .custom-control-input:checked:focus
  ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25);
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #c8ffc8;
}
.form-checkBox {
  padding: 0 5px;
}
.switch-slide {
  margin-bottom: 0;
}
.switch-slide-label {
  display: block;
  width: 40px;
  height: 20px;
  border-radius: 999em;
  background: #ccc;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-bottom: 0;
}

.switch-slide-label:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 999em;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 2px;
  top: 2px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.switch-slide input:checked + label {
  background: #0ca7b1;
  transition: 0.3s ease;
}
.switch-slide input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.table-system_Page th {
  background-color: transparent;
  color: #0ca7b1;
  font-size: 20px;
}
[class*="indexPicBlock"] {
  color: #fff;
  padding: 0.375rem 0.75rem;
  border-radius: 3px;
  text-align: center;
}
.indexPicBlock-L {
  background-color: #09b5a0;
}
.indexPicBlock-R {
  background-color: #75d52d;
}
.main-card-memo {
  text-align: center;
}
.linkList {
  list-style: none;
}
.linkList li a {
  background-color: #0ca7b1;
  color: #fff;
  padding: 0.5em;
  text-align: center;
  display: block;
}
.custom-file-label::after {
  content: "選擇檔案";
}
.input-age,
.form-control-age {
  max-width: 110px;
}
